{% extends 'IIMMyBundle::layout.html.twig' %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading"><h1>File list</h1></div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>File</th>
                <th>Content</th>
                <th>FileName</th>

            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.file }}</td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.filename }}</td>

                <td>
                    <a href="{{ path('product_show', { 'id': entity.id }) }}"><button type="button" class="btn btn-info .btn-xs">show</button></a>
                    <a href="{{ path('product_edit', { 'id': entity.id }) }}"><button type="button" class="btn btn-warning .btn-xs">edit</button></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('product_create') }}">
                <button type="button" class="btn btn-success">Create a new entry</button>
            </a>


</div>
{% endblock content %}
