{% extends 'IIMMyBundle::layout.html.twig' %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading"><h1>File list</h1></div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>File</th>
            <th>Download</th>
            <th>Content</th>
            <th>FileName</th>
            <th>Link for debug</th>

        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="{{ entity.content }}">Télécharger le fichier</a></td>
                <td>{{ entity.content }}</td>
                <td>{{ entity.filename }}</td>
                <td>{{ entity.file }}</td>


            </tr>
        {% endfor %}
        </tbody>
    </table>




 </div>
{% endblock content %}


